<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Enter details to Login</h2>
    <form method="post" action="/login">
        <label for="adminid">Admin Email : </label><br>
        <input type="text" id="adminid" name="username" autocomplete="off"><br>
        <label for="pwd">Password :</label><br>
        <input type="password" id="pwd" name="password" autocomplete="off"><br>
        <input type = "submit" value="submit" id = "submit"><br>
    </form>
</body>
</html>