<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <h2 class="bonafide-title">Change Password</h2>
    <div class="card">
        <div class="card-container">
          <h2 class="card-heading" id="prompt"><%= Message %></h2>
          <form method="post" id = "form" action="/changepassword">
            <div class="card-items">
              <label class="rollnum" for="adminid">Username : </label>
              <input class="text-box" type="text" id="adminid" name="username" autocomplete="off"><br>
          </div>
            <div class="card-items">
                <label class="rollnum" for="adminid">Old Password : </label>
                <input class="text-box" type="password" id="adminid" name="oldpassword" autocomplete="off"><br>
            </div>
            <div class="card-items">
                <label class="rollnum" for="pwd">New Password :</label>
                <input class="text-box" type="password" id="pwd" name="newpassword" autocomplete="off"><br>
            </div>
            <div class="submitbtncontainer">
              <input class="submitbtn" type = "submit" value="Submit" id = "submit"><br>
            </div>
          </form>
        </div>
    </div>
</body>
</html>

