<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="/css/popup.css">
</head>
<body>
    <div class="top-container">
        <img src="/assets/jntuhlogo.png" alt="" srcset="">
        <div class="inner-container">
            <h1 class="inner-heading">JNTUH University College of Engineering Sultanpur</h1>
            <h5 class="inner-para">Sultanpur(V), Pulkal(M), Sangareddy(D),Telangana-502273 ,India</h5>
        </div>
    </div>
    <h2 class="bonafide-title">Bonafide Tracking System</h2>

  <div class="card">
      <div class="card-container">
        <h2 class="card-heading" id="prompt">Fill the details</h2>
        <form method="post" id = "form" action="/">
          <div class="card-items">
            <label for="rollno">Roll Number of Student : </label>
            <input type="text" id="rollno" name="rollno"><br>
          </div>
          <div class="card-items">
            <label id = "purpose"> Purpose of Bonafide : </label>

            <select id ="purposemenu"  onchange="yesnoCheck(this);">  
              
              <option value = "Bus Pass"> Bus Pass </option>  
              <option value = "Bank Account"> Bank Account </option>  
              <option value = "Passport"> Passport </option>  
              <option value = "Scholarship"> Scholarship </option> 
              <option value = "Cast of Income"> Cast of Income </option>  
              <option value = "Internship"> Internship </option> 
              <option value = "Other">Other</option> 
            </select>
            <br>
          </div>
          <div id="ifYes" style="display: none;">
            <label for="Other">Enter the purpose:</label> <input type="text" id="Other" name="Other" /><br />
          </div>
          <div class="submitbtncontainer">
            <input class="submitbtn" type = "submit" value="Submit" id = "submit"><br>
          </div>
        </form>
      </div>
  </div>
  
  <div class="popup" id="popup">
    <h2 id="error" class="bonafide-title">Details Form</h2>
    <ul id="studentid" style="list-style: none">
      
    </ul>
    <div class="popup-button">
      <button class="btn" onclick="closePopup()">Close</button>
      <form id="proceed" action="/save" method="post">
        <input class="btn" type = "submit" id="submitbtn" value="proceed"/>
      </form>
    </div>
  </div>
  
</body>
<script src="javascript/script.js"></script>
</html>