.btn{
  padding: 10px 10px;
  background: lightgreen;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 11px;
  font-weight: 500;
  border-radius: 30px;
}
.container{
  display: flex;
}
.popup{
  text-align: center;
  padding-left: 50px;
  width: 600px;
  background: white;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,-50%) scale(0.1);
  padding: 0 30px 30px;
  visibility: hidden;
  transition: transform 0.4s , top 0.4s;
}
.open-popup{
  top: 50%;
  visibility: visible;
  transform: translate(-50%,-50%) scale(1);
}
.popup h2{
  font-size: 38px;
  font-weight: 500;
  margin: 10px 0 10px;
  text-align: center;
}
.popup-button{
  display: flex;
  justify-content: space-between;
}

.tab{
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
.tab button{
  border-radius: 6px;
  width: 50%;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-family: Roboto;
  font-size: 24px;
}
.tab button:hover {
  background-color: #ddd;
}
.tab button.active {
  background-color: #ccc;
}
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
